.card_container {
    width: 854px;
    height: 594px;
    background-color: #BE0909;
    box-shadow:2px 2px  black;
    border-radius: 10px;
    color: floralwhite;

}

.label {
    display: block;
    position: relative;
    top: 30px;
    left: 50px;
    border: 1px;}
.input-field {
    display: block;
    background-color: rgb(240, 240, 157);
    position: relative;
    top: 30px;
    left: 50px;
    width: 150px;
    height: 25px;  
    border-radius: 8px;
}
.button {
    position: relative;
    top: 50px;
    left: 70px;
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}
#rectangle{
    width:200px;
    height:100px;
    background:blue;
    width: 345px;
    height: 594px;
    position: relative;
    left: 510px;
    top: -430px;
    border-radius: 10px;
    background-color: #FFB039;
}

.duck-img {
    position: relative;
    left: 240px;
    top: -1000px;}

    