
.card_container {
    width: 854px;
    height: 594px;
    background-color: #BE0909;
    box-shadow:4px 4px  black;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-wrap: nowrap;
    margin: 20%;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(rgb(243, 108, 160), yellow);
    
}


.label {
    display: flex;
    border: 1px;
    margin-left: 10px;
    margin-top: 30px;

}

.input-field {
    display: block;
    background-color: rgb(236, 236, 15);
    max-width: 100%;
    height: 25px;  
    border-radius: 8px;
}
.button{ 
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 10px; }

.button:hover {
    color: rgb(236, 236, 15);
    background-color: red;}
